.loyalty-mainscreen {
  padding-bottom: rem(44);

  // .loyalty-mainscreen__content

  &__content {
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }

  .title-block__text {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  // .loyalty-mainscreen__row

  &__row {
    position: relative;
    z-index: 2;
    @include adaptiveValue("column-gap", 30, 20);
    row-gap: rem(15);
  }

  // .loyalty-mainscreen__item

  &__item {
  }
}

.item-loyalty-mainscreen {
  box-shadow: 0px 33px 104px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  @include adaptiveValue("padding-top", 36, 25);
  padding-bottom: rem(24);
  padding-left: rem(24);
  @include adaptiveValue("padding-right", 36, 24);

  // .item-loyalty-mainscreen__icon

  &__icon {
    width: rem(60);
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .item-loyalty-mainscreen__title

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(6);
    }
  }

  // .item-loyalty-mainscreen__text

  &__text {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }
}

//========================================================================================================================================================

.loyalty-levels {
  @include adaptiveValue("padding-top", 60, 40);
  @include adaptiveValue("padding-bottom", 80, 50);

  // .loyalty-levels__container

  &__container {
  }

  // .loyalty-levels__title-block

  &__title-block {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 55, 35);
    }
  }

  .title-block__subtitle {
    &:not(:last-child) {
      margin-bottom: rem(4);
    }
  }

  // .loyalty-levels__row

  &__row {
  }

  // .loyalty-levels__item

  &__item {
  }

  // .loyalty-levels__title

  &__title {
  }

  // .loyalty-levels__text

  &__text {
  }

  // .loyalty-levels__num

  &__num {
  }
}

.item-loyalty {
  position: relative;
  column-gap: rem(75);

  @media (min-width:$tablet){
    &:not(:last-child) {
      .item-loyalty__content {
        border-right: 1px solid #313132;
      }
    }   

    &:first-child {
      .item-loyalty__num::after {
        border-top-left-radius: 57px;
        border-bottom-left-radius: 57px;
      }
    }
    &:last-child {
      .item-loyalty__num::after {
        border-top-right-radius: 57px;
        border-bottom-right-radius: 57px;
      }
    }
  }

  @media (min-width:$mobileSmall) and (max-width:$mobile){
    &:nth-child(odd) {
      .item-loyalty__content {
        border-right: 1px solid #313132;
      }
    } 
  }

  @media (min-width:$mobileSmall){
    flex-direction: column;
    text-align: center; 
  }
  @media (max-width:$tablet){
    padding: rem(15) 0;
  }

  // .item-loyalty__content

  &__content {
    &:not(:last-child) {
      margin-bottom: rem(16);
    }

    @media (min-width:$mobileSmall){
      padding: 0 rem(40);
    }
  }

  // .item-loyalty__title

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .item-loyalty__text

  &__text {
    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }

  // .item-loyalty__num

  &__num {
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: rem(34);
      height: rem(34);
      background-color: $purpleColor;
      border: 1px solid $mainColor;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }

    &::after{
      content:'';
      position: absolute;
      bottom: rem(11);
      left: 0;
      background: #212121;
      width: 100%;
      height: rem(8);
    }

    @media (max-width:$mobileSmall){
      &::after{
        width: rem(8);
        height: 100%;
        left: auto;
        right: rem(13);
        bottom: 0;
      } 
    }
  }
}

//========================================================================================================================================================

.loyalty-about {
  @include adaptiveValue("margin-top", 81, 50);
  padding-bottom: rem(24);

  // .loyalty-about__container

  &__container {
  }

  // .loyalty-about__top

  &__top {
    position: relative;
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
    @media (min-width:$mobile){
      justify-content: space-between; 
    }
  }

  // .loyalty-about__images

  &__images {
    flex: 0 1 rem(540);
    @media (max-width:$tablet){
      display: none;
    }
  }

  // .loyalty-about__dots

  &__dots {
    position: absolute;
    top: 0;
    left: rem(-12);
    width: rem(470);
		height: rem(420);
  }

  // .loyalty-about__triangle

  &__triangle {
    position: absolute;
    left: 0;
    bottom: rem(-145);
    width: rem(628);
    height: rem(544);
  }

  // .loyalty-about__img

  &__img {
    position: absolute;
    width: rem(566);
    height: rem(560);
    left: 0;
    bottom: rem(-180);
  }

  // .loyalty-about__title-block

  &__title-block {
    flex: 0 1 rem(570);
    position: relative;
    z-index: 2;
  }

  .title-block__title {
    margin-bottom: rem(16);
  }

  // .loyalty-about__bottom

  &__bottom {
  }
}

.bottom-loyalty-about {
  position: relative;
  z-index: 2;
  box-shadow: 0px 33px 104px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  position: relative;
  overflow: hidden;

  // .bottom-loyalty-about__title-block

  &__title-block {
    max-width: rem(620);
    padding: rem(23) 0 rem(17) 0;
    @include adaptiveValue("padding-right", 32, 20);
    @include adaptiveValue("padding-left", 32, 20);
  }

  .title-block__text {
    max-width: rem(380);
  }

  // .bottom-loyalty-about__row

  &__row {
    padding: rem(23) 0;
    @include adaptiveValue("padding-right", 32, 20);
    @include adaptiveValue("padding-left", 32, 20);
    border-top: 1px solid #313132;
    @include adaptiveValue("column-gap", 73, 30, 0, 1100, 992);
    max-width: rem(970);
    row-gap: rem(20);

    @media (max-width:$mobile){
      flex-wrap: wrap; 
    }
    // .bottom-loyalty-about__row_50p

    &_50p {
      max-width: rem(1070);
    }
  }

  // .bottom-loyalty-about__row-item

  &__row-item {
  }

  // .bottom-loyalty-about__title

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  // .bottom-loyalty-about__decor

  &__decor {
    position: absolute;
    top: rem(7);
    right: 0;
    width: rem(244);
    height: rem(210);
  
    @media (max-width:$tablet){
      display: none;
    }
  }
} 

