//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	text-align: center; 
	display: inline-block;
	font-weight: 700;
	line-height: 1.43;
	font-size: rem(14);
	border-radius: 999px;
	padding: rem(10) rem(16);

	// .button_big

	&_big {
		padding: rem(14) rem(35);
	}

	// .button_w

	&_w {
		background: #F6F8FA;
		color: $purpleColor;
		transition: all 0.4s ease 0s;
	
		span {
			background: linear-gradient(90deg, #6302D8 10.53%, #5030CE 95.39%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}

		@media (any-hover: hover){
			&:hover{
				background: #A5A9B4;
			}
		}
	}
}
