// <SELECT>
// Сніппет (HTML): sel
.select {
	position: relative;

	&._select-open {
		.select__title::before {
			transform: rotate(-180deg);
		}
	}
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		background-color: transparent;
		cursor: pointer;
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;

		&::before{
			transition: all 0.4s ease 0s;
		}
	}
	// .select__value
	&__value {
		display: flex;
		align-items: center;
		height: rem(30);
		padding: 0 rem(15);
		gap: rem(10);
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: "";
			align-self: stretch;
			flex: 0 0 10px;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		position: absolute;
		top: 29px;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		border-top: 0;
		border-top: 0;
		padding: 10px 0px 5px 0px;
		background: #212121;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: 200px;
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 5px 15px;
		transition: all 0.3s ease-in-out 0s;
		font-weight: 600;
		font-size: rem(14);
		line-height: 1.43;
		color: #A5A9B4;
		transition: all 0.3s ease-in-out 0s;
		display: flex;
		align-items: center;
		gap: rem(10);

		@media (any-hover: hover){
			&:hover{
				color: $purpleColor;
				background: #2F2F2F;
				.select__text {
					color: $purpleColor;
				}
			}
		}

		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}

	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Стан селекту
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}

.select__content {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	gap: rem(8);
	
	&::before{
		flex: 0 0 rem(18);
		height: rem(18);
		display: flex;
		align-items: center;
		justify-content: center;
		color:	$mainColor;
		background: linear-gradient(90deg, #6302D8 10.53%, #5030CE 95.39%);
		border-radius: 6px;
	}
}